/* px to em converter:
	https://www.w3schools.com/tags/ref_pxtoemconversion.asp */


/* ------------------------------------------ SET HEADER SIZES --------------------------------- */

body {
	font-family: "Arial", sans-serif;
	overflow-x: hidden;
}

h1 {
	font-family: "Arial", sans-serif;
	font-size: 29;
	font-weight: normal;
}

h2 {
	font-family: "Arial", sans-serif;
	font-size: 20;
	font-weight: normal;
}

h3 {
	font-family: "Arial", sans-serif;
	font-size: 12;
	font-weight: bold;
}

h6{
	font-family: "Arial", sans-serif;
	font-size: 12;
	font-weight: normal;
}



/* ------------------------------------------ TOP NAV HAMBURGER------------------------------------------------ */
.TopNav{
	background-color: none;
	overflow: hidden;
	padding: 0.8em;
	box-shadow: none;
	position: fixed;
	width:75%;
	margin-left: 25vw;
	z-index: 20;
}

.TopNav_Name{
	text-decoration: none;
	float: left;
	color: #fffbf4;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	font-size: 20;
}

.Menu{
	display: none;
}

/* https://www.youtube.com/watch?v=EalgZXjDR2Q */


.multi-level, .item ul, .nav input[type="checkbox"] {
    display: none;
}
	/* Hides menu and checkboxes by default */
	
#menu:checked ~ .multi-level, .item input:checked ~ ul {
    display: inline-block;
}

label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
	color: #FFFBF4;
}
.nav {
    width: 100%;
    overflow-x: hidden;
    border-bottom: 1px solid #221310;
	z-index: 10;
	background-color: #660800;
	box-shadow: 2px 2px 8px #221310;
	position: fixed;
}

#nav-icon {
    font-size: 20;
    line-height: 50px;
    color: #FFFBF4;
    background-color: #660800;
	position: absolute;
	box-shadow: 2px 2px 8px #221310;
	position: fixed;
	width: 90.5%;
}

.nav ul, .nav li, label {
    line-height: 50px;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #FFFBF4;
    font-weight: 100;
    width: 100%;
}

.HamLink {
	line-height: 50px;
    list-style: none;
    text-decoration: none;
    color: #FFFBF4;
    font-weight: 100;
    width: 100%;
	text-decoration: none;
	z-index: 30;
}

.item1 {
	padding-top: 55px;
}

.item ul {
    padding: 0 0.25em;
}
.nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 4em;
    list-style: none;
    text-decoration: none;
    color: #FFFBF4;
    font-weight: 100;
}








/* ------------------------------------------ HERO IMAGE ------------------------------------------ */
.heroImage {
	background-image: url("/assets/images/Hero_Image4.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding-top:0.5em;
	background-attachment:scroll;
}

.heroText1 {
	color: #FFFBF4;
	text-align: left;
	position: absolute;
	top: 10vh;
	left: 5vw;
	z-index: 1;
}

.heroText3{
	color: #FFFBF4;
	text-align: left;
	position: absolute;
	top: 17vh;
	left: 17vw;
	line-height: 200%;
	text-indent: -40px;
	z-index:1;
}




/* ------------------------------------------ ABOUT ME ------------------------------------------ */
.AboutMe {
	background-image: url("/assets/images/Headshot3.png");
	height: 95%;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-attachment:scroll;

}

.AboutMe_Title {
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 98vh;
	background-color: #FFFBF4;
	width: 100vw;
}

.AboutMe_Text {
	text-align: center;
	line-height: 140%;
	position: absolute;
	top: 102vh;
	left: 2vw;
	max-width: 95vw;
	background-color: #FFFBF4;

}

.AboutMe_SciCommResume_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 5.8em;
	height: 2.2em;
	border-radius: 10%;
	text-align:center;
	position: absolute;
	top: 146vh;
	left: 3vw;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
}

.AboutMe_BioinformaticsResume_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 5.8em;
	height: 2.2em;
	border-radius: 10%;
	text-align:center;
	position: absolute;
	top: 146vh;
	left: 35vw;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
}


.AboutMe_CV_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 5.8em;
	height: 2.2em;
	border-radius: 10%;
	text-align:center;
	position: absolute;
	top: 146vh;
	left: 67vw;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
}


.AboutMe_SciCommResume_Text {
	margin-top: 0.4em;
}

.AboutMe_BioinformaticsResume_Text {
	margin-top: 0.4em;
}

.AboutMe_CV_Text {
	margin-top: 1em;
}


/* ------------------------------------------ SCIENCE COMMUNICATION ------------------------------------------ */
.SciComm {
	background-image: url("/assets/images/Hill_Day4.png");
	background-repeat: no-repeat;
	background-color: #FFF2D3;
	overflow: hidden;
	background-attachment:scroll;
	background-size: cover;

}

.SciComm_Title {
	font-weight: bold;
	text-align: center;
	position: absolute;
	font-size: 25;
	top: 191vh;
	width: 100vw;
	background-color:#FFF2D3;
}

.SciComm_Row1 {
	display: flex;
	text-align: center;
	height: 20vh;
	margin:0;
	padding-top: 1.3em;
	background-color: #FFF2D3;
}

.SciComm_Row2 {
	display: flex;
	text-align: center;
	height: 20vh;
	margin-top: -2em;
	background-color: #FFF2D3;
}


.SciComm_Row3 {
	display: flex;
	text-align: center;
	height: 14vh;
	margin-top: -3em;
	background-color: #FFF2D3;
}

.SciComm_Col1 {
	float: right;
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-content: center;
}

.SciComm_Col2 {
	float: right;
	width: 63vw;
	display: flex;
	justify-content: flex-start;
	text-align:left;
	line-height: 100%;
	padding-left: 5vw;
	display: inline-block;
}


.SciComm_Writing_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 6em;
	height: 1.6em;
	border-radius: 10%;
	text-align:center;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
	margin-top: 15vw;
}

.SciComm_Presentations_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 6em;
	height: 1.6em;
	border-radius: 10%;
	text-align:center;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
	margin-top: 13vw;
}


.SciComm_Outreach_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 6em;
	height: 1.6em;
	border-radius: 10%;
	text-align:center;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
	margin-top: 10vw;
}

.SciComm_Writing_Text {
	margin-top: 1.5vw;
}

.SciComm_Presentations_Text {
	margin-top: 1.5vw;
}

.SciComm_Outreach_Text {	
	margin-top: 1.5vw;
}




/* ------------------------------------------ Research ------------------------------------------ */
.Research {
	background-image: url("/assets/images/Comic_Title5.png");
	height: 100%;
	background-repeat: no-repeat;
	background-color: #FFFBF4;
	background-position: center;
	overflow: hidden;
	background-attachment:scroll;
	background-size: cover;

}

.Research_Title {
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 285vh;
	width: 92%;
	background-color: #FFFBF4;
}

.Research_Text {
	text-align: center;
	line-height: 150%;
	position: absolute;
	top: 290vh;
	left: 5vw;
	width: 92vw;
	background-color: #FFFBF4;
}

.Research_Summary_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 4.5em;
	height: 1.4em;
	border-radius: 10%;
	text-align:center;
	position: absolute;
	top: 320vh;
	left: 5vw;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
}

.Research_Papers_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 4.5em;
	height: 1.4em;
	border-radius: 10%;
	text-align:center;
	position: absolute;
	top: 320vh;
	left: 38vw;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
}


.Research_Code_Color {
	text-decoration: none;
	background-color: #FF6D6D;
	border: 2px solid #221310;
	width: 4.5em;
	height: 1.4em;
	border-radius: 10%;
	text-align:center;
	position: absolute;
	top: 320vh;
	left: 71vw;
	box-shadow: 2px 2px 8px #221310;
	color: #221310;
}

.Research_Summary_Text {
	margin-top: 0.3em;
}

.Research_Papers_Text {
	margin-top: 0.3em;
}

.Research_Code_Text {	
	margin-top: 0.3em;
}

/* ------------------------------------------ Contact Me ------------------------------------------ */
.Contact {
	background-color: #FFF2D3;
	margin-top: -3%;
	height: 200px;
	overflow: hidden;
}

.Contact_Title {
	font-weight: bold;
	text-align: center;
	padding-top: 0.5em;
}

.Icons {
	padding-top: 2.5em;
	display: flex;
	justify-content: space-around;
}

.Icons img {
	max-width: 35px;
	height: auto;
}